<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI: defend from sybilattac</title>
</head>
<body>
    <h1>Sybil Attacks</h1>
    <ul>
        <li class="pSize">In the context of advancing decentralisation through token distribution via airdrops, projects often encounter an unexpected challenge: </li> <br> <br> 
        <li class="pSize">the unintentional concentration of tokens among sybil actors.</li>
        <li class="pSize">Despite gleaning insights from prior airdrop experiences, the ongoing struggle continues between protocols and those seeking to exploit the system. With the sybil actor population on the rise, there‘s a palpable threat to both decentralisation and the preservation of privacy.</li>
    </ul>

</body>
</html>
<%- include("partials/footer.ejs") %>