<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI: defend from sybilattac</title>
</head>
<body>
    <h1>Sybil Attack</h1>
    <p class="pSize">Airdrops are a common way to distribute coins decentrally. The case of Arbitrum shows that Sybil Attacks have become a big problem.</p>
    <p class="pSize">A large number of sybil attacks could be researched. A single node pretends to operate with many fake addresses.</p>
    <p class="pSize">Hackers fake addresses to claim many Airdops. This undermines the principle of the decentralized distribution of airdrops to many individuals.</p>

</body>
</html>
<%- include("partials/footer.ejs") %>